DATABASE_URL=postgresql://neondb_owner:npg_uCO4caDZdyV2@ep-weathered-water-ay08dg0j.c-5.us-east-2.aws.neon.tech/neondb?sslmode=req
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_EVENT_SLUG=adreach-tiktok-seminar-2026
